<% @page_title = "Notes" %>
<% @page_title_extra = link_to image_tag("icon_add2x.png", :class => "header_icon", :width => 16, :height => 16), new_note_path %>

<% if @notes.any? %>
  <% @notes.each do |note| %>

    <div class="list_item clearfix">
      <div class="edit_icon">
        <%= link_to image_tag("btn_edit2x.png", :width => 16, :height => 16), edit_note_path(note) %>
      </div>
      <div class="list_item_details">
        <div class="list_item_name"><%= link_to note.title, note %></div>
        <div class="list_item_atts text_maxwdith">
          <div class="limit_text">
            <%= simple_format truncate(note.body, length: 300, separator: ' ') %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

<% else %>
  No notes added yet.<br/>
<% end %>

<br>

<%= link_to 'New Note', new_note_path %>
