<% @page_title = "Tea Types" %>

<% if @tea_types.any? %>
  <table class="table_spacing">
    <tbody>
      <% @tea_types.each do |tea_type| %>
        <tr>
          <td><%= link_to image_tag("btn_edit2x.png", :width => 16, :height => 16), edit_tea_type_path(tea_type) %>
            </td>
          <!--<td> link_to 'Show', tea_type </td>-->
          <td><%= tea_type.name %>
          </td>
          <!--<td> link_to 'Delete', tea_type, method: :delete, data: { confirm: 'Are you sure?' } </td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No tea types added yet.<br/>
<% end %>
<br>

<%= link_to 'New Tea type', new_tea_type_path %>
