<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', digest: true %>
</head>

<body class="day_mode">
  <div class="master_frame_container">
    <div class="frame_container">

      <div class="header clearfix">
        <div class="header_left">
            <a href="/"><%= image_tag("logo_day_2x.png", :width => 197, :height => 72) %></a>
        </div>
        <div class="header_right"></div>
      </div>

      <div class="page_title_sec">
        <span class="page_title">
           Sorry, the page you were looking for doesn't exist.
        </span>
      </div>

      <div class="content clearfix">
        <p>You may have mistyped the address or the page may have moved.</p>
        <p><a href="/">Home Page</a></p>
      </div>
    </div>
  </div>

</body>
</html>