<!DOCTYPE html>
<html>
<head>
  <title>We're sorry, but something went wrong (500)</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'global', media: 'all', digest: true %>
</head>

<body class="day_mode">
  <div class="master_frame_container">
    <div class="frame_container">

      <div class="header clearfix">
        <div class="header_left">
            <a href="/"><%= image_tag("logo_day_2x.png", :width => 197, :height => 72) %></a>
        </div>
        <div class="header_right"></div>
      </div>

      <div class="page_title_sec">
        <span class="page_title">
          Yeah. We're sorry, but something went wrong.
        </span>
      </div>

      <div class="content clearfix">
        This error has been logged and forwarded to the Tealogger.com team. If you have any 
        questions or comments please feel free to <a href="/contact">contact us</a>.</p>
  
        <p>We apologize for any inconvenience.</p>
  
        <p><a href="/">Home Page</a></p>
      </div>
    </div>
  </div>

</body>
</html>