<% @page_title = "Tea Attributes" %>
<% @page_title_extra = link_to image_tag("icon_add2x.png", :class => "header_icon", :width => 24, :height => 24, :title => "Add New Attribute"), new_att_path %>


<% if @atts.any? %>
 
  <% @atts.each do |att| %>
  <div class="list_item clearfix">
    <div class="list_item_details">
      <div class="list_item_name"><%= link_to att.name, edit_att_path(att) %></div>
    </div>
  </div>
  <% end %>

<% else %>
  No tea attributes added yet.<br/>
<% end %>
<br>

<%= link_to 'New Attribute', new_att_path %>
