<% @page_title = "Tea Attributes" %>

<% if @atts.any? %>
  <table class="table_spacing">
    <tbody>
      <% @atts.each do |att| %>
        <tr>
          <td><%= link_to image_tag("btn_edit2x.png", :width => 16, :height => 16), edit_att_path(att) %></td>
          <td><%= att.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No tea attributes added yet.<br/>
<% end %>
<br>

<%= link_to 'New Attribute', new_att_path %>
