<div class="contact_form">
	<div class="contact_input">
		<input type="text" placeholder="Name">
	</div>

	<div class="contact_input">
		<input type="text" placeholder="Email">
	</div>

	<div class="contact_input">
		<select><option></option></select>
	</div>

	<div class="contact_input">
		<textarea placeholder="Message"></textarea>
	</div>

	<div class="contact_input">
		<input type="submit" class="btn" value="Submit">
	</div>
</div>