<% @page_title = "Why Tea Logger?" %>

<p>For many of us, tea has become a passion and a hobby. We have overflowing tea shelves, numerous teapots, several gaiwans, tumblers, and infusers.</p>

<p>Every tea has a story. Discovering the best conditions to bring out that story can take some experimentation. Varying tea temperatures, teaspoons, and steep times until you get it just right. Keeping track of the optimal steep time for each tea is a real need especially when you have 20 teas or more.</p>

<p>As your teapot collection grows it also becomes impossible to remember how many ounces each pot holds as well. Tealogger aims to make your tea journey a bit more organized for those who live in a digital world. There's a place for you to add pretty much anything tea related. You can think of it as a tea journal really.</p>

<p>Tealogger is not meant to be a social site. There are other places for that. We aim to provide you with fast, no nonsense access to your tea journal. The user experience of the website is our top priority as we use the site ourselves. Let us know in the <a class="no_transform" href="/contact">contact</a> form if you have any suggestions or comments.</p>