<% @page_title = "Why Tea Logger?" %>

<p>Christmas 2011 I decided to dive into the world of tea. I don't know why. I just did. I took all the gift money I received ($300) and spent it all at Teavana. Since then I have found many other great tea shops and I’ve been on a journey discovering, tasting, and searching for that perfect cup of tea.</p> 

<p>I keep track of everything. Teas I’ve tried, teas I want, best places to buy tins, teapot measurements (18oz, 24oz, etc), websites I order from, and most importantly, steeping notes. I’m a perfectionist. I need to find that sweet spot in every tea.</p>

<p>Until now I’ve been using Evernote but it just wasn’t quite right for this. So I created TeaLogger.com. I figured there are probably other people out there like me so...here you go.</p>

- Alex Lee<br/>
Tea Enthusiast

<br/><br/>
<p>P.S. Stacy if you’re out there, we miss you. Butiki Teas is still my favorite place to buy tea :)</p>