<div class="footer">
	<% if current_user.try(:admin?) %>
		<%= link_to 'Types', tea_types_path %> 
		<span>|</span>
	<% end %>

	<% if user_signed_in? %>
		<%= link_to 'Attributes', atts_path %>		
		<span>|</span>
	<% end %>
	
	<% if session[:night_mode] == "on" %>
		<a href="?night_mode=off">Day Mode</a>
	<% elsif %>
		<a href="?night_mode=on">Night Mode</a>	
	<% end %>
</div>