<div class="footer <% if current_page?('/') %>content_middle<% end %>">
	
	<% if !current_page?('/') %>
		<% if current_user.try(:admin?) %>
			<%= link_to 'Admin', admin_users_path %> 
			<span>|</span>

			<%= link_to 'Types', tea_types_path %> 
			<span>|</span>
		<% end %>

		<% if user_signed_in? %>
			<%= link_to 'Attributes', atts_path %>		
<%
=begin %>		
			<span>|</span>

			<% if session[:night_mode] == "on" %>
				<a href="?night_mode=off">Day Mode</a>
			<% elsif %>
				<a href="?night_mode=on">Night Mode</a>	
			<% end %>
<%
=end %>			
		<% end %>

		<br/><br/><br/>
	<% end %>

	<div class="de_emphasize">
		<a href="/legal">Privacy &amp; Terms</a> <span>|</span> 
		<a href="/about">About</a> <span>|</span> 
		<a href="/contact">Contact</a>
		<div>&copy; Copyright Tea Logger <%= Time.now.year %>. All rights reserved.</div>
	</div>
</div>