<div class="header clearfix">
	<div class="header_left">
		<a href="<%= teas_path %>" class="first_app_link selected">TeaFinder</a>
		<!--<a href="" class="app_link ">Checkbook</a>-->
	</div>
	<div class="header_right">
		<% if user_signed_in? %>
			<%# current_user.email %>
			<%= link_to 'Profile', edit_user_registration_path %> <span>|</span>
			<%= link_to "Logout", destroy_user_session_path, method: :delete  %>
			<!-- render 'layouts/teafinder/header' -->
		<% end %>
	</div>
</div>